/* Style Guide
Font - Rubik
Font Color - rgb(99, 99, 99)
Nav Bar - rgb(76, 137, 178)
Background and Nav Bar Font Color - rgb(232, 232, 232)
Logo - Pawprint.png
Pet 1 - dog.jpg
Pet 2 - cat.jpg
Pet 3 -  guineapig.jpg
*/
body {
  font-family: "Rubik", sans-serif;
  background-color: rgb(232, 232, 232);
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  color: rgb(232, 232, 232);
  background-color: rgb(76, 137, 178);
  padding: 10px;
}

a {
  text-decoration: none;
  color: rgb(76, 137, 178);
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  top: 37px;
  background-color: rgb(232, 232, 232);
  min-width: 160px;
  border: 2px solid rgb(76, 137, 178);
  padding: 12px 16px;
  z-index: 1;
  padding-top: 0px;
  padding-bottom: 0px; ß
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar {
    display: none; 
}

h1 {
  font-size: 22px;
  text-align: center;
  z-index: 2;
  margin-top: 50px;
  color: rgb(99, 99, 99);
}

.submit {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}


button {
  background-color: rgb(76, 137, 178);
  color: rgb(232, 232, 232);
  border-radius: 25px;
  padding: 10px;
  font-size: 16px;
}

h2 {
    font-size: 20px;
    color: rgb(99, 99, 99);
}

img {
width: 66%;

}

.petimages {
    text-align: center;
    color: rgb(99, 99, 99);
}

footer {
    margin-top: 50px;
    margin-bottom: 15px;
    text-align: center;
    color: rgb(99, 99, 99);
}

footer p {
    margin: 0px; 
}

.footernav {
    display: none;
}

@media only screen and (min-width: 768px) {
    .dropdown {
        display: none;
    }

    header {
        align-items: center;
        font-size: 30px;
    }

    .navbar {
        display: flex; 
        justify-content: flex-end; 
        flex: 1; 
        margin: 10px;
    }

    .navbar p {
        padding-left: 20px; 
        margin: 0px;
        font-size: 22px;
    }

    .navbar a {
        color: rgb(232, 232, 232);
    }

    main {
       margin-top: 100px; 
    }

    h1 {
        font-size: 28px; 
    }

    h2 {
        margin-top: 100px; 
        font-size: 26px;
    }


    .figures {
        display: flex; 
    }

    .petimages {
        font-size: 24px;
    }
    .footernav {
        display: flex; 
        justify-content: center; 
    }

    .footernav p {
        padding: 20px;
    }

    .footernav a {
        color: rgb(99, 99, 99);
    }
}